.product-container {
    padding: 1em 0;
}

.product-content {
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding-bottom: 10px;
    /* border: 2px solid red; */
}

.toggle_accordion:hover,
.product-accordion:hover {
    cursor: pointer;
}

.product-content img {
    margin: 25px auto;
}

.product-content h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #534293;
}

.sub-odd {
    background: #f8f7f9;
}

.sub-odd,
.sub-even {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.sub-odd p,
.sub-even p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #534293;
}

.sub-odd h5,
.sub-even h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #534293;
}

.sub-odd h5 sup,
.sub-even h5 sup {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #534293;
}

.sub-odd button,
.sub-even button {
    margin-top: -10px;

    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 5px 15px;

    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.product-accordion {
    background: #f8f7f9;
    padding: 25px;
}

.product-accordion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-accordion-item i {
    cursor: pointer;
}

.collapse {
    /* border: 1px solid red; */
    width: 100% !important;
}

.rotate {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.rotate.down {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.install_desc {
    /* background: red; */
    text-align: left;
    overflow: hidden;
}

.install_price {
    background: #f8f7f9;
    padding: 25px;
}

.install_guide {
    padding: 25px;
}

.install_guide a,
.vps_guide a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #534293;
}

.install_guide i,
.vps_guide i {
    margin-left: 15px;
}

.vps_guide {
    padding: 25px;
}

.install_price h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #534293;
}

.install_price sup {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #534293;
}

.install_price button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 5px 15px;

    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
}
