.transaction-container {
    padding: 1rem 0;
}

.transaction-container table {
    background: #f8f7f9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border-radius: 15px; */
}

.transaction-container h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
}

.checkout-btn {
    background: #6fc286;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 5px 15px;

    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.unpaid-table,
.history-table {
    overflow-x: auto;
}

.order_menu {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.order_link {
    margin-right: 25px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #534293;
}

.order_link.active {
    color: #ffffff;
    background: #534293;
}

.order_link:hover {
    cursor: pointer;
    /* color: #534293; */
}
