.vps-container {
    padding: 1rem 0;
}

.vps-container .card {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: transparent;
    padding: 1em;
    margin-top: 25px;
}

.vps-status-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f0ff;
    border-radius: 5px;
    width: 40%;
}

.vps-status-label span {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #534293;
}

.vps-info h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #534293;
}

.vps-info span {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #534293;
}

.click-to-view {
    background: #f3f0ff;
    border-radius: 6px;
    padding: 3px;
    font-size: 12px !important;
    line-height: 16px;
    font-weight: 700 !important;
    text-transform: uppercase;
}

.vps_none {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.vps_none img {
    margin-bottom: 25px;
}

.vps_none p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.vps_none button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 5px 15px;
    width: 135px;
    margin-top: 15px;

    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
