.myrobot-container {
    padding: 1rem 0;
}

#dashboard-robot-list .cardss {
    margin-top: 25px;
    margin-bottom: 50px;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    /* justify-content: center; */
}

ul.tabs li {
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s ease all;
    width: 33%;
}

ul.tabs li span {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

ul.tabs li.current {
    color: #222;
    transition: 0.3s ease all;
}
ul.tabs li.current span {
    color: white;
    background: #cc41ff;
    transition: 0.3s ease all;
}
.tab-content {
    display: none;
    padding: 15px;
    transition: 0.3s ease all;
}
.tab-content.current {
    display: inherit;
    transition: 0.3s ease all;
}

/*------ease effect------*/
.nav-justified > li {
    float: none;
}
.nav-justified > li span {
    width: 100%;
}
.customize_solution .nav-justified > li {
    float: none;
}
.customize_solution span.ease-effect {
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
}
.customize_solution span.ease-effect:hover,
.customize_solution span.ease-effect:focus,
.customize_solution ul.tabs li.current span:hover,
.customize_solution ul.tabs li.current span:focus {
    background: #cc41ff;
    color: #fff;
    transition: 0.3s ease all;
}
.customize_solution span.ease-effect {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 14px 10px;
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 20px;
    line-height: 24 px;
    text-align: center;
    color: #534293;
}

.search {
    position: relative;
    margin-top: 15px;
}

.search-box {
    width: 100%;
    padding: 20px 20px 20px 50px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: transparent;
}

.search-box:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    display: block;
    top: 25px;
    left: 15px;
    color: #9a9a9a;
}

.myrobot-list {
    margin-top: 75px;
    padding: 1em;
}

.robot-list-card {
    /* background: rgb(204, 65, 255);
    background: radial-gradient(
        circle,
        rgba(204, 65, 255, 1) 0%,
        rgba(96, 34, 117, 1) 76%,
        rgba(96, 34, 117, 1) 100%
    ); */

    background: #f8f7f9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 1em;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myrobot-img {
    width: 200px;
    position: relative;
    margin-top: -75px;
}

.myrobot-name h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */

    color: #534293;
}

.myrobot-name button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 15px;

    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    padding: 5px 15px;
    width: 150px;
}

.myrobot-name .myrobot-seedetail {
    background: #ffffff;
    border: 2px solid #534293;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;

    color: #534293;
}

@media only screen and (max-width: 1366px) {
    .myrobot-name button {
        width: 100%;
    }
    .myrobot-img {
        width: 150px;
    }
}

/* =-=-=-=-=-=---=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-================================== */

.cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}
.cardss {
    /* margin: 15px; */
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
    .cardss {
        width: calc((100% / 2) - 30px);
    }
}
@media screen and (max-width: 767px) {
    .cardss {
        width: 100%;
    }
}
/* .cardss:hover .card__inner {
    background-color: #1abc9c;
    transform: scale(1.05);
}
.card__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    background-color: #949fb0;
    color: #eceef1;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out;
} */
.card__inner:after {
    transition: all 0.3s ease-in-out;
}
.card__inner .fa {
    width: 100%;
    margin-top: 0.25em;
}
.card__expander {
    transition: all 0.2s ease-in-out;
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    position: relative;
    color: #333a45;
    z-index: 2;
}
.card__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.card__expander .fa:hover {
    opacity: 0.9;
}
.cardss.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
}
.cardss.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
}

.cardss.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f8f8f8;
}
.cardss.is-expanded .card__inner .fa:before {
    content: "\f115";
}
.cardss.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
}
.cardss.is-expanded:hover .card__inner {
    transform: scale(1);
}
.cardss.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
}
.cardss.is-inactive:hover .card__inner {
    background-color: #949fb0;
    transform: scale(1);
}
@media screen and (min-width: 992px) {
    .cardss:nth-of-type(3n + 2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .cardss:nth-of-type(3n + 3) .card__expander {
        margin-left: calc(-200% - 60px);
    }
    .cardss:nth-of-type(3n + 4) {
        clear: left;
    }
    .card__expander {
        width: calc(300% + 60px);
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .cardss:nth-of-type(2n + 2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .cardss:nth-of-type(2n + 3) {
        clear: left;
    }
    .card__expander {
        width: calc(200% + 30px);
    }
}

/* -=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-===-===-=-=-==-=- */

.robot-detail-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.robot-detail-right p {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.robot-detail-right button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    width: 30%;
    color: #ffffff;
}

.detail-header h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #534293;
}

.detail-header h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #534293;
}

.last-ten {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin: 15px auto;
}

.last-ten h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #534293;
}

.last-ten .progress {
    margin: -10px auto 0 auto;
    border-radius: 20px;
}

.last-ten .progress-bar {
    background: linear-gradient(270deg, #c8206b 64.65%, #7a3a91 97.12%);
    border-radius: 20px;
}
