.manual_container {
    padding: 2rem 4rem;
    position: relative;
}

.manual_back {
    position: absolute;
    top: 2rem;
    left: 1rem;
}

.manual_back i {
    font-size: 32px;
    color: #534293;
}

.manual_title {
    display: flex;
    align-items: center;
}

.manual_title img {
    margin-right: 25px;
}

.manual_title h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #534293;
}

/* SWIPER */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    margin-bottom: 50px;
}

.swiper-slide {
    padding: 25px;
}

.swiper-pagination-bullet {
    background: transparent !important;
    text-align: center;
    font-weight: 300;
    line-height: 28px;
    font-size: 24px;
    color: #534293;
    opacity: 1 !important;
    margin-right: 25px !important;
}

.swiper-pagination-bullet-active {
    font-weight: 900;
}

.manual_card {
    margin: 30px auto;
}

.manual_card .card {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: transparent;
    position: relative;
}

.manual_card .card-body {
    display: flex;
    align-items: center;
    padding: 15px;
}

.manual_label {
    position: absolute;
    top: -10px;
    left: -20px;
}

.manual_video {
    min-width: 70px;
    min-height: 60px;
    background: #c4c4c4;
    margin-left: 150px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual_video:hover {
    cursor: pointer;
}

.manual_vps {
    margin: 50px auto;
}

/* =================================== */
.video {
    width: 100%;
    height: 400px;
    margin: auto;
    display: block;
    border: none;
}
/* .popup-btn,
.close-btn {
    width: 100px;
    height: 50px;
    display: block;
    margin: 50px auto;
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
}
.popup-btn:hover {
    color: white;
    background-color: black;
} */
.video-popup {
    display: none;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: fixed;
    top: 0;
    box-shadow: 10px 10px 10px 10px black;
}
.popup-bg {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
}
.popup-content {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
}
.popup-title {
    padding: 30px;
    margin: 0 auto;
    color: red;
    text-transform: uppercase;
}
