.home-container {
    /* border: 1px solid red; */
    padding: 1rem 0;
}

.home-status .card {
    background: #f8f7f9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    min-height: 200px;
    border: transparent;
}

.home-status .card-body p {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
}

.install-quota {
    font-weight: bold;
    font-size: 72px;
    line-height: 95px;
}

.home-status .card-body button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 40%;
    padding: 10px 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

.robot-list-table {
    margin: 50px auto;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    /* border-radius: 20px; */
    border: 1px solid #f4f4f4;
}

.robot-list-table td {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #534293;
}

.status-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-active {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #99cc33;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.status-inactive {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #cc3300;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.status-waiting {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffcc00;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.subs-type {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #534293;
}

th {
    white-space: nowrap;
}

.no_robot {
    text-align: center;
}

.no_robot h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin: 15px auto;
}

.no_robot button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px 25px;
    width: 150px;

    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
}

@media only screen and (max-width: 425px) {
    .robot-list-table th {
        font-size: 14px;
        line-height: 16px;
    }

    .robot-list-table td {
        font-size: 12px;
        line-height: 16px;
    }
}
