.setting-container {
    padding: 1em 0;
}

.setting-container .nav-tabs {
    background: #f8f8f8;
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.setting-container .nav-item .nav-link {
    /* border: 1px solid red; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */

    color: #000000;
}

.setting-content {
    border: 1px solid #dee2e6;
    border-top-color: transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
    padding: 1.5em;
}

.setting-content .form-group {
    width: 50%;
}

.setting-content label {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    color: #000000;
}

.setting-content .input {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: transparent;
    height: 50px;
}

.setting-content button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: 20%;
    margin-top: 50px;
}

.plan-flex {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.plan-flex h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.stop-recurring {
    font-size: 18px;
    line-height: 24px;
    color: #d6132d;
}

.stop-recurring:hover {
    color: #d6132d;
}

/* =========== ON OFF SWITCH =============== */

.tgl {
    position: relative;
    display: inline-block;
    height: 30px;
    cursor: pointer;
}
.tgl > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    /* Put the input behind the label so it doesn't overlay text */
    visibility: hidden;
}
.tgl .tgl_body {
    width: 60px;
    height: 30px;
    background: white;
    border: 1px solid #dadde1;
    display: inline-block;
    position: relative;
    border-radius: 50px;
}
.tgl .tgl_switch {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: white;
    position: absolute;
    left: -1px;
    top: -1px;
    border-radius: 50%;
    border: 1px solid #ccd0d6;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    -moz-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms,
        -moz-transform cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -o-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms,
        -o-transform cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -webkit-transition: left cubic-bezier(0.34, 1.61, 0.7, 1),
        -webkit-transform cubic-bezier(0.34, 1.61, 0.7, 1);
    -webkit-transition-delay: 250ms, 250ms;
    transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms,
        transform cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    z-index: 1;
}
.tgl .tgl_track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 50px;
}
.tgl .tgl_bgd {
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    width: 55px;
    -moz-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms,
        right cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -o-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms,
        right cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -webkit-transition: left cubic-bezier(0.34, 1.61, 0.7, 1),
        right cubic-bezier(0.34, 1.61, 0.7, 1);
    -webkit-transition-delay: 250ms, 250ms;
    transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms,
        right cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    background: #3fdd9f;
    /* url("http://petelada.com/images/toggle/tgl_check.png")
        center center no-repeat; */
}
.tgl .tgl_bgd-negative {
    right: auto;
    left: -45px;
    background: white url("http://petelada.com/images/toggle/tgl_x.png") center
        center no-repeat;
}
.tgl:hover .tgl_switch {
    border-color: #b5bbc3;
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}
.tgl:active .tgl_switch {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.tgl > :not(:checked) ~ .tgl_body > .tgl_switch {
    left: 30px;
}
.tgl > :not(:checked) ~ .tgl_body .tgl_bgd {
    right: -45px;
}
.tgl > :not(:checked) ~ .tgl_body .tgl_bgd.tgl_bgd-negative {
    right: auto;
    left: -10px;
}
