.help_container {
    padding: 2rem 2rem;
}

.help_title {
    display: flex;
    align-items: center;
    margin: 25px auto;
}

.help_title img {
    margin-right: 25px;
}

.help_title h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #534293;
}

.help_container p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
    width: 70%;
    margin: 25px 0;
}

.help_contact {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact_img {
    margin-right: 25px;
}

.help_btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
