.upgrade-container {
    /* border: 1px solid red; */
    padding: 2rem 1rem;
}

.upgrade-container .card {
    background: #f8f7f9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: transparent;
    margin-bottom: 25px;
}

.robots-status p {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #534293;
}

.status-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 6px;
    width: 30%;
}

.status-label span {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #534293;
    text-transform: uppercase;
}

.label-active,
.label-waiting,
.label-inactive {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.label-active {
    background: #6fc286;
}
.label-waiting {
    background: #ffc708;
}
.label-inactive {
    background: #ff252d;
}

.feature-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 6px;
    padding: 5px;
    /* width: 30%; */
}

.feature-label span {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #534293;
}

.btn-container {
    text-align: center;
}

.manage-btn {
    background: #6fc286;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 40%;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

.download-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 40%;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

.dnone {
    display: none;
    transition: all 0.2s ease-in-out;
}

.install-status p,
.vps-status p {
    /* font-weight: bold; */
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.install-status button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px;
    width: 40%;
}

.vps-status .dropdown button {
    background: transparent;
    outline: none;
    color: black;
}

.vps-status .dropdown button:focus {
    outline: none;
}

.report-btn {
    text-align: center;
}

.report-btn button {
    background: #d6132d;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    width: 30%;
    padding: 10px 20px;
}
