/*===== GOOGLE FONTS =====*/
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
/*===== VARIABLES CSS =====*/

@import "./dash-home.css";
@import "./dash-myrobot.css";
@import "./dash-upgrade.css";
@import "./dash-transaction.css";
@import "./dash-product.css";
@import "./dash-vps.css";
@import "./dash-setting.css";
@import "./dash-help.css";
@import "./dash-manual.css";

:root {
    --header-height: 3rem;
    --nav-width: 68px;

    /*===== Colors =====*/
    --first-color: #4723d9;
    --first-color-light: #afa5d9;
    --white-color: #f7f6fb;

    /*===== Font and typography =====*/
    --body-font: "Red Hat Display", sans-serif;
    --normal-font-size: 1rem;

    /*===== z index =====*/
    --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/*===== HEADER =====*/
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    /* background-color: var(--white-color); */
    background-color: #534293;
    z-index: var(--z-fixed);
    transition: 0.5s;
}

.header__toggle {
    /* color: var(--first-color); */
    color: #f4f4f4;
    font-size: 1.5rem;
    cursor: pointer;
}

.header__img {
    /* width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%; */
    /* overflow: hidden; */
}

.header__img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*===== NAV =====*/
.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    /* background-color: var(--first-color); */
    background-color: #534293;
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}

.side-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__logo,
.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav__logo {
    margin-bottom: 2rem;
}

.nav__logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav__logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.nav__link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: 0.3s;
}

.nav__link:hover {
    color: var(--white-color);
}

.nav__icon {
    font-size: 1.25rem;
}

/*Show navbar movil*/
.show {
    left: 0;
}

/*Add padding body movil*/
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active {
    color: var(--white-color);
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header__img {
        width: 40px;
        height: 40px;
    }

    .header__img img {
        width: 40px;
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    /*Show navbar desktop*/
    .show {
        width: calc(var(--nav-width) + 156px);
    }

    /*Add padding body desktop*/
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}

/* ============================================================== */

/* ============== MODAL ============== */

.modal {
    width: 100vw;
    backdrop-filter: blur(5px);
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal .modal-content {
    padding: 15px 25px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.modal .modal-content h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

.modal .modal-content h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.modal-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal-btn-container button {
    padding: 10px 20px;
    /* width: 30%; */
    margin: 0 5px;
}

.modal-download-btn {
    background: #ffffff;
    border: 3px solid #534293;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #534293;
}

.modal-generate-btn {
    background: #534293;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 3px solid #534293;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.modal-confirm-btn {
    width: 80%;
    background: #534293;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 25px auto;
    border: transparent;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.install-card .card {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 35px auto;
    width: 90%;

    /* padding-left: 100px; */
    padding: 5px 5px 5px 100px;
    text-align: left;
}

.install-card .card-body {
    display: flex;
    align-items: center;
}

.install-card .box {
    width: 50px;
    height: 50px;
    background: #f4f4f4;
}

.install-label {
    position: absolute;
    top: -15px;
    left: -18px;
}
/* ============== END MODAL ============== */

.user_img {
    display: flex;
    width: 100%;
}

.doropdown {
    position: absolute;
    /* top: 100%; */
    right: 10px;
    width: 10rem;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: none;
    /* height: 100%; */
}

.header__img:hover > .doropdown {
    display: block;
}

.doropdown ul {
    padding: 10px;
    margin-top: 10px;
}

.doropdown ul li {
    list-style: none;
    margin-bottom: 15px;
    height: 100%;
}

.doropdown ul li a {
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
}

.doropdown-link > a {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    overflow: hidden;
}

.doropdown-link > a:hover {
    font-weight: 700;
    /* background-color: #534293;
    color: #fff; */
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_right .fa-bell {
    color: white;
    margin-right: 25px;
    font-size: 20px;
}
