.blog_detail_container {
    margin-top: 12vh;
    font-family: "Red Hat Display", sans-serif;
}

.blog_detail_img {
    width: 100%;
}

.blog_detail_title {
    margin: 25px auto;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;

    color: #000000;
}

.blog_detail_author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.blog_share i {
    color: #534293;
    font-size: 42px;
}

.blog_detail_content {
    text-align: justify;
    color: #000000;
}

.blog_detail_content p {
    font-weight: normal;
    font-size: 18px;
    margin: 25px auto;
}

.blog_detail_content h3 {
    margin: 50px auto;
    font-weight: bold;
    font-size: 32px;
}

.blog_comment h5 {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.blog_comment textarea {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 25px auto;
}

.blog_comment button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    width: 200px;
    padding: 10px 20px;
}

.other_blog_container {
    width: 90%;
    margin: 25px auto;
}

.the_comment {
    display: flex;
}

.user_comment {
    margin-left: 25px;
    width: 80%;
}

.user_comment p {
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}

.user_comment_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f4f4f4;
}

.user_comment_name {
    display: flex;
    align-items: baseline;
}

.user_comment_name h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    color: #1c1c1c;
}

.user_comment_name span {
    margin-left: 25px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: rgba(28, 28, 28, 0.5);
}

.user_feedback {
    display: flex;
    align-items: center;
}

.user_dislike {
    margin-left: 25px;
    margin-right: 25px;
}
