.blog-container {
    font-family: "Red Hat Display", sans-serif;
}

.blog-header {
    margin-top: 15vh;
}

.blog-header ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blog-header ul li {
    list-style: none;
}

.blog_links {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.blog_links.active {
    text-decoration: underline;
    color: #534293;
}

.blog_links:hover {
    text-decoration: underline;
    color: #534293;
}

.featured_blog {
    margin: 50px auto;
}

.blog_author {
    display: flex;
    align-items: center;
}

.blog_author p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;

    color: #534293;
}

.blog_list {
    margin: 25px auto;
}

.blog_title {
    margin-bottom: -10px;
}

.blog_title a:hover {
    text-decoration: none;
}

.featured_blog_r h5 {
    padding-left: 10px;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #000000;
}

.blog_title h5 {
    margin: 15px auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 25px;
}

.blog_author {
    margin-top: 0px;
}
