.vps-card {
    padding: 15px;
}

.vps-card .card {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: transparent;
    width: 100%;
    margin: 5px auto;
}
