.checkout-container {
    font-family: "Red Hat Display", sans-serif;
    margin: 15vh 5vh;

    /* border: 1px solid red; */
}

.order-choice h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.order-detail-card .card {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: transparent;
    /* padding: 15px 20px; */
}

.order-name,
.order-type,
.tax,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-detail-card .card-body h4 {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}

.order-name {
    margin: 25px auto 5px auto;
}

.order-name button {
    background: transparent;
    border: transparent;
    outline: none;
    font-weight: 900;
}

.order-type p {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.coupon-code {
    margin-top: 35px;
}

.coupon-code p {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.coupon-code-input {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    border: transparent;
    outline: none;
    padding: 10px;
}

.tax {
    margin-top: 50px;
}

.tax p {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.checkout-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    width: 100%;

    padding: 15px 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

/* ====================================================================== */

.radio-label {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input {
    /* margin: 10px; */
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 200px;
}

.card-input p {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.card-input h4 {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
    /* box-shadow: 0 0 1px 1px #2ecc71; */

    /* background: url("../images/checkout-plan-bg.png");
    background-size: cover;
    background-repeat: no-repeat; */

    transition: all 0.2s ease-in-out;

    background: rgb(204, 65, 255);
    background: linear-gradient(
        187deg,
        rgba(204, 65, 255, 1) 0%,
        rgba(96, 34, 117, 1) 69%,
        rgba(96, 34, 117, 1) 100%
    );

    color: white;
}

.active-card {
    transition: all 0.2s ease-in-out;

    background: rgb(204, 65, 255);
    background: linear-gradient(
        187deg,
        rgba(204, 65, 255, 1) 0%,
        rgba(96, 34, 117, 1) 69%,
        rgba(96, 34, 117, 1) 100%
    );

    color: white;
}

.proceed-btn {
    text-align: center;
    margin: 35px auto;
}

.proceed-btn button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;

    color: #ffffff;
    width: 40%;
    height: 50px;
}

@media screen and (max-width: 425px) {
    .card-input {
        /* font-size: 12px; */
        min-height: 120px;
    }
    .card-input p {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
    }

    .card-input h4 {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
    }

    .order-detail-card .card-body h4 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24 px;
    }

    .order-type p {
        font-size: 14px;
        line-height: 16px;
    }

    #cart-ajax {
        padding: 0 7px;
    }

    #cart-ajax .col-4 {
        /* border: 1px solid red; */
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.iframe-invoice {
    /* border: 1px solid red; */
    width: 100%;
    /* height: 100%; */
    overflow-y: scroll;
}
