.install-card {
    padding: 15px;
}

.install-card .card {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: transparent;
    width: 100%;
    margin: 5px auto;
}

.install-card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.install-desc {
    width: 70%;
}

.install-desc h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.install-desc p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.install-price h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.install-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.install-counter i {
    font-size: 32px;
}

.install-counter span {
    border: 1px solid black;
    text-align: center;
    width: 40px;
    height: 40px;

    font-weight: bold;
    font-size: 24px;
}
