.howto-container {
    margin-top: 15vh;
    font-family: "Red Hat Display", sans-serif;
}

.side-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 15vh;
    display: flex;
    flex-direction: column;
}

.side-menu ul {
    border: 1px solid red;
}

.side-menu a {
    text-decoration: none;
    border: 1px solid rgba(83, 66, 147, 0.3);
    width: 100% !important;
    padding: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #534293;
}

.side-menu a:hover {
    text-decoration: none;
    color: #534293;
}

.howto-content h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #534293;
}

.howto-content p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
