/* .navbar {
    min-height: 10vh;
    background: transparent;
    font-family: "Red Hat Display", sans-serif;
}

.navbar-nav a {
    color: #534293;
    font-size: 16px;
    font-weight: 400;
}

.navbar-nav a:hover {
    color: #534293;
    text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.nav-item {
    margin-right: 40px;
}

.nav-link.active {
    font-weight: 600;
}

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
} */

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: "Red Hat Display", sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: transparent;
}
nav .logo {
    float: left;
    display: flex;
    align-items: center;
    background: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 200px;
    height: 100px;
    /* border: 1px solid red; */
}

nav .logo-scrolled {
    float: left;
    display: flex;
    align-items: center;
    background: url("../images/logo-scroll.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 200px;
    height: 100px;
    /* border: 1px solid red; */
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li {
    list-style: none;
    /* position: relative; */
    /* border: 1px solid red; */
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 18px;
    font-weight: 400;
    color: #534293;
    text-decoration: none;
    /* text-transform: uppercase; */
}
#nav-toggle {
    position: absolute;
    top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #534293;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
    nav .logo {
        /* width: auto; */
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: rgba(0, 0, 0, 0.8); */
        /* background-color: #0f1123; */
        /* background-color: rgba(255, 255, 255, 0.467); */
        background-color: #fff;
        /* background: transparent; */
        /* backdrop-filter: blur(5px); */
        overflow: hidden;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked ~ .links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

.navbar_agerabot.scrolled {
    background-color: #fff !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 200ms linear;
}

.nav__link.active {
    font-weight: 700;
}

.doropdown {
    position: absolute;
    /* top: 100%; */
    /* left: 0; */
    width: 10rem;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: none;
}

.nav__user:hover > .doropdown {
    display: block;
}

.doropdown ul {
    padding: 0;
}

.doropdown-link > a {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    overflow: hidden;
}

.doropdown-link > a:hover {
    font-weight: 700;
    /* background-color: #534293;
    color: #fff; */
}
