.register-hero {
    /* border: 1px solid red; */
    min-height: 100vh;
    background: url("../images/register-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Red Hat Display", sans-serif;
}

.register-logo {
    position: absolute;
    z-index: 2;
    padding: 25px 25px;
    /* border: 1px solid red; */
}

.register-overlay {
    width: 100%;
    height: 100vh;
    /* width: 50vw;
    height: 100vh; */
    /* border-radius: 50px; */
    background: linear-gradient(
        89.85deg,
        #534293 32.16%,
        rgba(83, 66, 147, 0.442385) 47.13%,
        rgba(83, 66, 147, 0) 57.47%
    );
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 5vw;
    /* border: 1px solid red; */
}

/* .register-hero-container {
    border: 1px solid red;
} */

.register-hero-container h1,
.login-hero-container h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */

    color: #ffffff;
}

.register-hero-container h5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 25px;
}

.register-hero-container h5 a {
    font-weight: bold;
    color: #43dd9f;
    text-decoration: none;
}

.register-hero-container form,
.login-hero-container form {
    max-width: 35%;
    color: white;
}
@media screen and (max-width: 768px) {
    .register-hero-container form,
    .login-hero-container form {
        max-width: 60%;
        color: white;
    }
}

.register-hero-container .form-group input {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    -webkit-appearance: none;
}

.register-hero-container .form-group label {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.form-check-label {
    font-size: 14px;
    line-height: 19px;
}

.register-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
}

.new-user {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.new-user a {
    color: #3fdd9f;
    font-weight: 500;
}

.new-user a:hover {
    color: #3fdd9f;
    text-decoration: none;
}

.forgot-pass {
    font-size: 18px;
    line-height: 24px;

    text-decoration-line: underline;

    color: #3fdd9f;
}

.login-fb-btn {
    background: #2f80ed;
}

.login-google-btn {
    background: #eb5757;
}

.login-fb-btn,
.login-google-btn {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    border: transparent;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
}

.login-fb-btn:hover,
.login-google-btn:hover {
    text-decoration: none;
    color: #fff;
}

.hide-content {
    display: none;
}

/* @media screen and (max-width: 1366px) {
    .register-overlay {
        top: -250px;
        left: -600px;
    }
} */

@media screen and (max-width: 425px) {
    .register-overlay {
        background: linear-gradient(
            89.85deg,
            #534293 52.16%,
            rgba(83, 66, 147, 0.442385) 87.13%,
            rgba(83, 66, 147, 0) 97.47%
        );
    }

    .register-hero-container h1,
    .login-hero-container h1 {
        font-size: 24px;
        line-height: 26px;
    }

    .register-hero-container h5 {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
        margin-bottom: 15px;
    }

    .register-hero-container form,
    .login-hero-container form {
        max-width: 100%;
        width: 100%;
        color: white;
    }

    .register-hero-container,
    .login-hero-container {
        top: 10vh;
        left: 0;
        width: 90vw;
        /* border: 1px solid red; */
        padding: 5px;
    }

    .register-hero-container .form-group label,
    .login-hero-container .form-group label {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .form-check-label {
        font-size: 12px;
        line-height: 14px;
    }

    .new-user {
        font-size: 14px;
        line-height: 16px;
    }

    .register-btn {
        font-size: 14px;
        line-height: 16px;
    }

    .forgot-pass {
        font-size: 14px;
        line-height: 16px;
    }

    .login-fb-btn,
    .login-google-btn {
        font-size: 14px;
        line-height: 16px;
    }
}
input[type="password"]::-ms-reveal {
    display: none;
}

.input-group {
    position: relative;
}

.toggle {
    background: none;
    border: none;
    color: #c4c4c4;
    font-weight: 600;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 9;
}
