.robot-hero {
    background: url("../images/jumbotron-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    /* padding-top: 10vh; */
    position: relative;
    overflow: hidden;
    font-family: "Red Hat Display", sans-serif;
}

.robot-hero-overlay {
    background: #534293;
    border-radius: 50px;
    transform: rotate(24.25deg);
    position: absolute;
    width: 1078.54px;
    height: 1078.54px;
    left: -410.34px;
    top: -70px;
    z-index: 1;
}

.robot-hero-txt {
    z-index: 2;
    color: white;
    position: relative;
    top: 30vh;
    left: 10vh;
    /* border: 1px solid red; */
}

.robot-hero-txt h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    width: 30%;
}

.robot-hero-txt h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    width: 25%;
}

/* ======================== ROBOT HERO END ======================== */

.robot-menu-container {
    font-family: "Red Hat Display", sans-serif;
}

.customize_solution {
    margin-top: -50px;
    position: relative;
    z-index: 2;
    /* border: 1px solid red; */
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-content: space-around;
    /* border: 1px solid red; */
}

ul.tabs li {
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s ease all;
    width: 33%;
    /* border: 1px solid blue;   */
}

ul.tabs li span {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

ul.tabs li.current {
    color: #222;
    transition: 0.3s ease all;
}
ul.tabs li.current span {
    color: white;
    background: #cc41ff;
    transition: 0.3s ease all;
}
.tab-content {
    display: none;
    padding: 15px;
    transition: 0.3s ease all;
}
.tab-content.current {
    display: inherit;
    transition: 0.3s ease all;
}

/*------ease effect------*/
.nav-justified > li {
    float: none;
}
.nav-justified > li span {
    width: 100%;
}
.customize_solution .nav-justified > li {
    float: none;
}
.customize_solution span.ease-effect {
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
}
.customize_solution span.ease-effect:hover,
.customize_solution span.ease-effect:focus,
.customize_solution ul.tabs li.current span:hover,
.customize_solution ul.tabs li.current span:focus {
    background: #cc41ff;
    color: #fff;
    transition: 0.3s ease all;
}
.customize_solution span.ease-effect {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 14px 10px;
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 20px;
    line-height: 24 px;
    text-align: center;
    color: #534293;
}

/* ======================== MENU ROBOT END ======================== */

.profitable-robot .card {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: transparent;
    max-height: 300px;
    overflow: auto;
}

/* ========================= */
.robot-radio-label {
    width: 100%;
}

.card-input-element {
    display: none;
}

.error-profitable-robot {
    color: red;
}

.robot-pair {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: center;
    color: #534293;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 68px;
    margin-top: 15px;
}

.robot-pair p {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
}

.robot-pair:hover {
    cursor: pointer;
}

.card-input-element:checked + .robot-pair {
    transition: all 0.2s ease-in-out;
    background: #cc41ff;
    color: white;
}
/* ========================= */

.profitable-search-btn {
    text-align: center;
}

.profitable-search-btn button {
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    background: #534293;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: transparent;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;

    color: #ffffff;
}

.top-robot-title,
.robot-compare-title {
    width: 60%;
    margin: 20px auto 50px auto;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: #534293;
}

.robot-detail-filter {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.robot-detail-search {
    width: 300px;
}

.top-robot-card.card {
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: transparent;
    height: 119px;
    width: auto;
}

.top-robot-card-ten.card {
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: transparent;
    height: 100px;
    width: auto;
}

.top-robot-card-ten .card-body {
    display: flex;
    align-items: center;
}

.top-robot-desc {
    width: 45%;
    margin-left: auto;
    padding: 5px;
    align-self: center;
}

.top-robot-desc h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #534293;
}

.top-robot-desc p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #534293;
}

.top-robot-card .card-body {
    display: flex;
    align-items: center;
}

.top-robot-img {
    margin-top: -60px;
    margin-right: 15px;
}

.top-robot-rank {
    /* border: 1px solid red; */
    position: absolute;
    top: -35px;
    right: -15px;
}

.top-robot-rank-2 {
    position: absolute;
    top: -15px;
    right: -15px;
}

.top-robot-number {
    position: absolute;
    top: 30px;
    right: 0px;
    font-weight: 700;
    font-size: 42px;
    /* line-height: 85px; */
    color: #ffffff;
}

.top-robot-card h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #534293;
}

.top-robot-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;

    margin-left: auto;
    margin-right: 80px;
}

.filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter p {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    color: #534293;
}

.filter select {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: transparent;
    height: 50px;
    /* padding: 20px; */
    color: black;
}

.filter-box {
    width: 150px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: transparent;
    margin-left: 15px;
}

.filter-box:focus {
    outline: none;
}

.search {
    position: relative;
}

.search-box {
    width: 280px;
    padding: 20px 20px 20px 50px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: transparent;
}

.search-box option {
    border: 1px solid red;
}

.search-box:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    display: block;
    top: 25px;
    left: 15px;
    color: #9a9a9a;
}

.robot-detail-slider {
    margin-top: 100px;
}

.robot-wishlist-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.robot-detail-slider-img {
    margin-top: -50px;
    width: 200px;
}

.robot-detail-hidden {
    width: 250px;
}

.wishlist-btn {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0;
    left: 30px;
}

.wishlist-btn:hover {
    cursor: pointer;
}

.robot-detail-slider-bg {
    background: url("../images/card-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 450px;
    /* text-align: right; */
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 75px;
}

.robot-detail-slider-bg h3 {
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
    margin-left: 25px;
}

.robot-detail-slider-bg p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    margin-left: 25px;
}

.robot-detail-slider-bg h5 {
    font-weight: bold;
    font-size: 48px;
    /* line-height: 64px; */

    color: #ffffff;
}

.robot-detail-slider-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 231.27px;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.robot-stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 90%;
    margin: 5px auto;
}

.progress {
    width: 60%;
    margin-top: -15px;
    background: #ffffff !important;
    border-radius: 20px !important;
    /* margin-left: 20px; */
    margin-left: auto;
    margin-right: 10px;
}

.progress-bar {
    /* width: 70%; */
    background: linear-gradient(
        90.02deg,
        #cc41ff 31.54%,
        rgba(204, 65, 255, 0) 120.87%
    ) !important;
    border-radius: 20px !important;
}

.pagination {
    margin: 30px auto;
}

.pagination .page-link {
    border: transparent;
    color: #534293;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

.pagination .page-link:hover {
    text-decoration: none;
    color: #534293;
    border-radius: 10px;
}

.pagination .active .page-link {
    background-color: #534293 !important;
    border-radius: 10px;
}

.robot-compare-search {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.comparePair {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px !important;
    border: transparent;
    width: 100%;
    /* margin-right:px; */
    margin-left: 0px !important;
    font-size: 18px !important;

    color: #9a9a9a;
}
.robot-compare-search .dropdown .btn {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: transparent;
    height: 69px;
    width: 100%;
    margin-right: 50px;
    font-size: 18px !important;

    color: #9a9a9a;
}

.compare-btn {
    text-align: center;
    margin-top: 50px;
}

.compare-btn button {
    background: #534293;
    width: 231.27px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px 25px;
}

.compare-result-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.compare-result-img img {
    width: 150px;
}

.compare-result-vs {
    border: 1px solid red;
    margin-top: -100px;
}

.robot-comparison {
    margin-top: 50px;
}

.robot-comparison h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;

    color: #534293;
}

.robot-comparison-card {
    margin: 25px auto;
    row-gap: 25px;
}

.robot-comparison-card .card {
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: transparent;
    padding: 5px 25px;
}

.robot-comparison-card .card-body {
    display: flex;
    justify-content: space-between;
}

.name-robot-compare {
    background-image: url("../images/compare-small.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* width: 100%; */
    height: 120px;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
}

.name-robot-compare-result {
    background-image: url("../images/compare-big.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 200px;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -80px;
}

.name-robot-compare-result h5 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;

    margin-top: 70px;
}

.name-robot-compare h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;

    margin-top: 30px;
}

.compare-table {
    text-align: center;
    margin-top: -30px;
}

.compare-table.table {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    border: transparent !important;
}

.compare-table tr {
    height: 120px;
    border: transparent !important;
}

.compare-table tr td:nth-child(even) {
    background: rgba(196, 196, 196, 0.1) !important;
}

.compare-table td {
    border: transparent;
    /* width: 200px; */
    vertical-align: middle !important;
    border-top: transparent !important;
}

.compare-table td h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    color: #6fc286;
}

.compare-parameter {
    width: 150px;
    background: #f2f1f4;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    color: #534293;
}

.compare-result-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.compare-result-btn button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    padding: 15px 25px;
}

@media screen and (max-width: 1366px) {
    .robot-hero-overlay {
        transform: rotate(27.25deg);
        left: -580.34px;
    }

    .robot-hero-txt {
        top: 30vh;
        left: 10vh;
        /* border: 1px solid red; */
    }

    .robot-hero-txt h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        width: 40%;
    }

    .robot-hero-txt h5 {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        width: 35%;
    }
}

/* ======================= SHOW DETAIL ============================== */
/* =-=-=-=-=-=---=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-================================== */

.cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}
.cardss {
    transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
    .cardss {
        width: calc((100% / 2) - 30px);
    }
}
@media screen and (max-width: 767px) {
    .cardss {
        width: 100%;
    }
}

.card__inner:after {
    transition: all 0.3s ease-in-out;
}
.card__inner .fa {
    width: 100%;
    margin-top: 0.25em;
}
.card__expander {
    transition: all 0.2s ease-in-out;
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    position: relative;
    color: #333a45;
    z-index: 2;
    /* border: 1px solid red; */
}
.card__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.card__expander .fa:hover {
    opacity: 0.9;
}
.cardss.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
}
.cardss.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
}

.cardss.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f8f8f8;
}
.cardss.is-expanded .card__inner .fa:before {
    content: "\f115";
}
.cardss.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
}
.cardss.is-expanded:hover .card__inner {
    transform: scale(1);
}
.cardss.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
}
.cardss.is-inactive:hover .card__inner {
    transform: scale(1);
}
@media screen and (min-width: 992px) {
    .cardss:nth-of-type(3n + 2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .cardss:nth-of-type(3n + 3) .card__expander {
        margin-left: calc(-200% - 60px);
    }
    .cardss:nth-of-type(3n + 4) {
        clear: left;
    }
    .card__expander {
        width: calc(300% + 60px);
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .cardss:nth-of-type(2n + 2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .cardss:nth-of-type(2n + 3) {
        clear: left;
    }
    .card__expander {
        width: calc(200% + 30px);
    }
}

.robot-detail-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.robot-detail-right p {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.robot-detail-right button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    width: 30%;
    color: #ffffff;
}

.detail-header h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #534293;
}

.detail-header h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #534293;
}

.last-ten {
    margin: 15px auto;
}

.last-ten h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #534293;
}

.last-ten .progress {
    margin: -10px auto 0 auto;
    border-radius: 20px;
    width: 100%;
    background: #ccd1d6 !important;
}

.last-ten .progress-bar {
    background: linear-gradient(270deg, #c8206b 64.65%, #7a3a91 97.12%);
    border-radius: 20px;
}

/* -=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-===-===-=-=-==-=- */
/* ================================================================== */

.pips {
    margin-top: -20px;
}

.pips span {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #534293;
}

.choose-pair {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profitable-detail-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #534293;
}

.last-ten-trans button {
    /* background: #6fc286; */
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    padding: 5px 10px;
    margin: 5px;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.last-ten-green {
    background: #6fc286;
}

.last-ten-red {
    background: #d6132d;
}

.profitable-detail-btn button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    width: 200px;
    padding: 10px;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

.profitable-detail-percent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .robot-hero-overlay {
        transform: rotate(35.25deg);
        left: -910.34px;
        top: -70px;
    }

    .robot-hero-txt {
        z-index: 2;
        color: white;
        position: relative;
        top: 30vh;
        left: 3vh;
        /* border: 1px solid red; */
    }

    .robot-hero-txt h2 {
        font-size: 24px;
        line-height: 32px;
        width: 50%;
    }

    .robot-hero-txt h5 {
        font-size: 16px;
        line-height: 21px;
        text-align: left;
        width: 50%;
    }

    .customize_solution {
        margin-top: 15px;
    }

    ul.tabs li {
        padding: 0 5px;
    }

    ul.tabs li span {
        font-size: 12px !important;
        line-height: 16px;
        border-radius: 8px !important;
        min-height: 60px !important;
    }

    .customize_solution span.ease-effect {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choose-pair {
        flex-wrap: wrap;
        justify-content: left;
    }

    .filter {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .filter p {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;

        color: #534293;
    }

    .filter select {
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: transparent;
        height: 50px;
        /* padding: 20px; */
        color: black;
    }

    .robot-pair {
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        text-align: center;
        color: #534293;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 35px;
        margin-top: 15px;
    }

    .robot-pair p {
        font-size: 12px;
    }

    /* ==== */
    .robot-detail-slider-bg {
        height: 225px;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .robot-detail-slider-bg h3 {
        text-align: left;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        margin-left: 1.5em;
    }

    .robot-detail-slider-bg p {
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        margin-left: 1.5em;
    }

    .robot-detail-slider-bg h5 {
        font-weight: bold;
        font-size: 16px;
        /* line-height: 64px; */
        /* margin-top: -10px; */
        color: #ffffff;
    }

    .robot-detail-slider-btn {
        width: 80%;
        padding: 5px 0;
        margin: 0 auto;
        font-size: 10px;
        font-weight: 700;
        color: #ffffff;
    }

    .robot-detail-hidden {
        width: 120px;
    }

    .robot-detail-slider-img {
        margin-top: -10px;
        width: 80px;
    }
    .wishlist-img {
        width: 25px;
    }

    .colpadding {
        /* border: 1px solid red; */
        padding: 3px !important;
    }
}
.image-thumb {
    width: 50px;
}

.robot_podium {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.robot_podium .card {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    /* width: 250px; */
    padding-left: 25px;
    padding-right: 25px;

    position: relative;
}

.rank1 {
    margin: -50px 50px 0 50px;
}

.podium_rank {
    position: absolute;
    top: 0;
    right: 15px;
}

.podium_image {
    width: 125px;
}

.podium_rank1 {
    width: 150px;
}

.robot_podium h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #005bab;
    margin: 15px auto;
}

.robot_podium h2 {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #005bab;
}

.rank1 h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #005bab;
}

.rank1 h2 {
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #005bab;
}

@media screen and (max-width: 425px) {
    .robot_podium .card {
        border-radius: 10px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    .robot_podium .card-body {
        padding: 10px;
    }

    .rank1 {
        margin: -25px 15px 0 15px;
    }

    .podium_rank {
        right: 5px;
        width: 20px;
    }
    .podium_image {
        width: 50px;
    }
    .podium_rank1 {
        width: 70px;
    }

    .robot_podium h5 {
        font-size: 12px;
        line-height: 14px;
        margin: 5px auto;
    }

    .robot_podium h2 {
        font-size: 14px;
        line-height: 16px;
    }

    .rank1 h5 {
        font-size: 14px;
        line-height: 18px;
    }

    .rank1 h2 {
        font-size: 16px;
        line-height: 18px;
    }
}

.robot_leaderboard table {
    text-align: center;
    /* border: 1px solid #c4c4c4; */
}

.robot_leaderboard table thead {
    background: #534293;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.robot_leaderboard table thead tr {
    height: 75px;
}

.robot_leaderboard table thead tr th {
    vertical-align: middle;
}

.robot_leaderboard table tr {
    border: transparent !important;
}

.robot_leaderboard table td {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
    vertical-align: middle;
}

.table_robot_img {
    width: 50px;
    margin-right: 15px;
}

.performance_category {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_button {
    margin: 0 10px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #c4c4c4;

    padding: 15px 20px;

    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #534293;
}

.performance_select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.performance_pair,
.performance_period {
    display: flex;
    align-items: center;
    justify-content: center;
}

.performance_period {
    margin: 0 50px;
}

.performance_pair h5,
.performance_period h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-right: 15px;
}

.performance_select button {
    background: #534293;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 15px 25px;
    border: transparent;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.performance_pair button,
.performance_period button {
    background: #cc41ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 15px 25px;
    border: transparent;

    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
}
