@media screen and (max-width: 425px) {
.robot-detail-title {
    width: 100%;
    margin: 20px auto 50px auto;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: #534293;
}
}