@media screen and (max-width: 425px) {
    .robot-compare-title {
        display: none;
    }
    .robot-compare-search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .search {
        position: relative;
        margin: 25px auto;
        /* border: 1px solid red; */
        width: 95%;
    }

    .search-box {
        width: 100%;
        padding: 10px 10px 10px 50px;
        border-radius: 5px;
    }

    .search-icon {
        top: 15px;
        left: 15px;
    }

    .robot-comparison h3 {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    /* === */
    .robot-comparison-card {
        margin: 25px auto;
        row-gap: 25px;
    }

    .robot-comparison-card .card {
        background: #f8f8f8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: transparent;
        padding: 5px 5px;
    }

    .robot-comparison-card .card-body {
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
        padding: 5px;
    }

    .robot-comparison-card .card-body img {
        width: 50px;
        height: 75px;
    }

    .name-robot-compare {
        background-image: url("../images/compare-mob.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        /* width: 100%; */
        height: 60px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -25px;
    }

    .name-robot-compare h5 {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;

        margin: 12px 5px 0 5px;

        padding: 0 10px;

        /* margin-top: 15px; */
    }

    .compare-result {
        margin-top: 50px;
    }

    .compare-result-img img {
        width: 75px;
    }

    .name-robot-compare-result h5 {
        font-size: 16px;
        line-height: 18px;
        margin-top: 30px;
    }

    .compare-table {
        margin-top: -75px;
    }

    .compare-table tr {
        height: 10px;
    }

    .compare-table td h5 {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }

    .compare-parameter {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .compare-result-btn button {
        border-radius: 30px;

        font-size: 10px;
        line-height: 12px;
        padding: 10px 15px;
    }
}

.select2-container--default .select2-selection--single {
    background: #ffffff !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15) !important;
    border-radius: 15px !important;
    border: transparent !important;
    padding: 10px;
    height: 50px !important;
    width: 100% !important;
}

.select2-selection__arrow {
    display: none;
}

.select2 select2-container select2-container--default select2-container--below {
    border: 1px solid red !important;
}
