.robot-detail-title {
    width: 60%;
    margin: 20px auto 50px auto;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: #534293;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .robot-detail-title {
        display: none;
    }
}

.pagination {
    justify-content: center;
}