@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

@import "./navbar.css";
@import "./homepage.css";
@import "./robot.css";
@import "./subscription.css";
@import "./register.css";
@import "./checkout.css";
@import "./checkout-vps.css";
@import "./checkout-install.css";
@import "./footer.css";
@import "./robot-list.css";
@import "./robot-compare.css";
@import "./robot-list-res.css";
@import "./howto.css";
@import "./blog.css";
@import "./blog-detail.css";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif !important;
}
