.subs-hero-overlay {
    background: #534293;
    border-radius: 50px;
    transform: rotate(50.31deg);
    position: absolute;
    width: 1078.54px;
    height: 1078.54px;
    left: -410.34px;
    top: -70px;
    z-index: 1;
}

.subs-price-container {
    margin: 100px auto;
    font-family: "Red Hat Display", sans-serif;
}

.subscription_title {
    margin-top: 100px;
    text-align: center;
}

.subscription_title h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #534293;
}

.subscription_title h5 {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #534293;
}

.subscription_footer {
    text-align: center;
    margin-top: 100px;
}

.subscription_footer h4 {
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.subscription_footer button {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 15px 25px;
    width: 230px;
    margin-top: 50px;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

.price-card {
    min-height: 575px;
    background: #ffffff;
    background-image: url("../images/price.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    border: transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

.price-header {
    text-align: center;
    color: #fff;
    padding-top: 15px;
    /* margin-bottom: 75px; */
}

.price-header h5 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.price-header h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
}

.price-header sup {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-right: 10px;
}

.price-feature {
    margin-top: 35px;
    margin-bottom: 35px;
}

.price-feature h5 {
    width: 100%;
    min-height: 70px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #534293;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-bg {
    background: rgba(83, 66, 147, 0.1);
}

.price-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 231.27px;
    height: 55.76px;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;

    color: #ffffff;
}

.best-offer {
    position: absolute;
    top: 15px;
    right: 30px;

    background: #ffffff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.2em;
    color: #534293;
    padding: 5px;
}

.plan-card {
    background: rgba(196, 196, 196, 0.1);
    border-radius: 20px;
    min-height: 400px;
}

.plan-header {
    background: url("../images/plan.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.plan-header h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
}

.plan-header h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    text-decoration-line: line-through;
    color: #ffffff;
}

.plan-header h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;

    color: #ffffff;
}

/* .plan-feature-container {
} */

.plan-feature {
    background: rgba(83, 66, 147, 0.1);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.plan-feature p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    color: #534293;
}

.indication h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #534293;
    /* margin-bottom: 50px; */
}

.indication-row {
    /* row-gap: 75px; */
    margin-bottom: 75px;
}

.indication-row .card {
    margin-top: 75px;
}

.indication .card {
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: transparent;
    height: 125px;
}

.indication .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 150px;
}

.indication .card-body h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #534293;
}

.indication-img {
    position: absolute;
    top: -35px;
    left: -20px;
}

.swiper-price {
    display: none;
}

@media screen and (max-width: 1366px) {
    .subs-hero-overlay {
        transform: rotate(50.31deg);
        left: -510.34px;
        top: -200px;
        z-index: 1;
    }
}

@media screen and (max-width: 425px) {
    .subs-hero-overlay {
        transform: rotate(35.31deg);
        left: -920px;
        top: -70px;
        z-index: 1;
    }

    .price-feature h5 {
        font-size: 16px;
        line-height: 21px;
        padding: 0 10px;
    }

    .indication h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .indication .card-body h5 {
        font-size: 16px;
        line-height: 21px;
    }

    .indication .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-left: 80px;
    }

    .indication-img {
        top: -10px;
        left: -20px;
        width: 125px;
    }

    .indication-row {
        margin: 25px auto;
    }

    .indication-row .card {
        margin-top: 35px;
    }

    .price-card {
        margin-top: 25px;
        min-height: 550px;
        /* border: 1px solid red; */
    }

    .price-header {
        padding-top: 25px;
        /* margin-bottom: 75px; */
    }

    .price-feature {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .price-desktop {
        display: none !important;
    }

    .swiper-price {
        display: block;
        margin: 25px;
    }
}
